@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Fauna+One&subset=latin,latin-ext);
/*英文 字体 使用
   font-family: 'Fauna One', serif;

 */

.faun{
	font-size:18px;
	font-family: 'Fauna One', serif;
}
.dark_shadow{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
