@charset "utf-8";
@import url("douban-base-api.css");


#fm-hear{
  margin:0 auto;
  width:900px;
  min-height: 144px;
}
#fm-hear >p{
  font-family: 'Fauna One', serif;
  font-size:24px;
  margin: 30px 0 0 7px;
}
#fm-nav{
  padding-top:2px;
  text-align:right;
}
#fm-nav span{
    display:inline-block;
    margin:0 4px;
}
.fm-nav-border{
   border-left:1px solid #898989;
   border-right:1px solid #898989;
}
#fm-main{
  background:none repeat scroll 0 0 #EFF5F2;
  height:280px;
}

.fm-play{
  width:513px;
  height:217px;
  position:absolute;
  right:0;
  top:-90px;
  z-index:;
  background: no-repeat scroll 0 0 transparent;
}
/*  float:right;  vertical-align:middle;  */
#music-name{
  position: absolute;
  top: 38%;
  right:22%;
}
#lake-music{
  width:280px;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 280px;
 
}
#nextList{
    bottom: 18%;
    position: absolute;
    right: 13%;
}
#m-loop{
    bottom: 18%;
    position: absolute;
    right: 25%;
}
.fm-b{
  margin:0 auto;
  width:900px;
  height:217px;
  position:relative;
}

#fm-play-type ul{
    width:222px;
    min-height:300px;
    position:relative;
    top:0;

}
#fm-play-type li{
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    position: relative;
    width: 220px;
}

#fm-play-type li a{
  background:none repeat scroll 0 0 rgba(198, 211, 205, 0.5);
  
  display: inline-block;
    text-indent: 24px;
    width:100%;
   
    -webkit-transition:background 1s ease-out;
    -moz-transition:backgroundl 1s ease-out;
    -o-transition:background 1s ease-out;
    transition:background 1s ease-out;
}
#fm-play-type li a:hover{
    color:black;
    background:none repeat scroll 0 0 rgba(150, 171, 165, 0.5);
    -webkit-transition:background 200ms linear;
    -moz-transition:background 200ms linear;
    -o-transition:background 200ms linear;
    transition:background 200ms linear;
    }

#fm-play-type .select{
  background:#9DD6C5;
}
/*

background:#9DD6C5; 当前停留颜色
none repeat scroll 0 0 rgba(198, 211, 205, 0.5) 本身颜色
                            150  711  165   划过颜色

*/

#fm-aside{
    background:;
    position: absolute;
    top: 0;
    width: 674px;
}

.fm-side-hd{
    background:white;
    height: 68px;
    padding: 75px 50px 0;
}
.fm-side-hd span{
    font-family: 'Fauna One', serif;
    color: #A2A8AC;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    
}
.fm-side-search{
    height: 23px;
    line-height: 23px;
    width: 215px;
    position: absolute;
    right: 15px;
}
.fm-side-search-btn{
    background: url("search_btn.png") no-repeat scroll left 2px transparent;
    border: 0 none;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 18px;
    top: 82px;
    width: 20px;
}
#fm-side-main{
  background: none repeat scroll 0 0 #EFF5F2;
}
.fm-show-off{
    background: none repeat scroll 0 0 #EFF5F2;
    color: #636564;
    height: 278px;
    float:left;
    overflow: hidden;
    width:100%;
}

.fm-img{
  width:290px;
  height:270px;
}
.show-pagenav{
 

}
.show-pagenav li{
    background: none repeat scroll 0 0 #D4E1DC;
    border-radius: 16px 16px 16px 16px;
    color: #888888;
    cursor: pointer;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    text-align: center;
    width: 16px;

}

.fm-info{
    
    padding:10px;
    float: right;
}


.music-information{
    height: 230px;
    width: 335px;
   
    text-align:left;
}
.music-information h3,.music-information p{
  margin:10px;
}
.music-information span{
    cursor: pointer;
    font-size: 18px;
    font-family: 'Fauna One', serif;
 }

 .fm-side-control{

    position: absolute;
    right: 0;
    top: 196px;
 }
 #fm-sidebar-ctrl{
      background:url("sidebar_icon.png") no-repeat scroll transparent;
      height: 170px;
      width: 14px
 }
 .fm-sidebar-hide{
    transform:rotate(180deg);
 }

.show-pagenav .on{
    background: none repeat scroll 0 0 #9DD6C5;
}

#music-item{
  padding-left:59px;

  border-top:1px solid #D1D3D1;
  clear: both;
  background:white;

}
.music-menu img{
  display:inline-block;
  border-radius:25px;
  vertical-align: middle;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);

    -webkit-transition:all 200ms ease-out;
    -moz-transition:all 200ms ease-out;
    -o-transition:all 200ms ease-out;
    transition:all 200ms ease-out;

}
.music-menu img:hover{
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -webkit-transition:all 200ms linear;
    -moz-transition:all 200ms linear;
    -o-transition:all 200ms linear;
    transition:all 200ms linear;
}
.music-menu{
  width:154px;
  float:left;
  margin:4px 2px;
}
.music-menu p{
    display: inline;
    
    font-family: 'Fauna One',serif;
    margin: 2px;
    vertical-align: middle;
}

.ds-avatar img {
    border-radius: 25px 25px 25px 25px;

}

